.project-approach-left-card{
    background: #FF725E;
    background-image: url('~assets/img/web-development/cost-time-left-style.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
}